---
import { getCollection } from "astro:content";
import Project from "./Project.astro";

const projects = await getCollection("projects");
---

<div class="mx-12 md:mx-auto w-full flex flex-col md:grid md:grid-cols-2">
  {
    projects.map((project) => {
      return <Project {...project} />;
    })
  }
</div>
