---
import { getCollection } from "astro:content";
import Project from "./Project.astro";

const projects = await getCollection("projects");
---

<div class="mt-4 mx-2 md:mx-auto flex flex-col gap-y-8">
  {
    projects.map((project) => {
      return <Project {...project} />;
    })
  }
</div>
