# 📦 Builds / outputs.
dist/
build/

# 🚀 Astro generated types.
.astro/

# 📦 Dependencies.
node_modules/
pnpm-lock.yaml

# 🕹️ IDE.
.vscode/
.idea/

# 📄 Logs.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 🎭 Enviroment vars.
.env
.env.production
