---
import { getCollection } from "astro:content";
import Experience from "./Experience.astro";

const experiences = await getCollection("experiencies");
---

<div class="mx-2 md:mx-auto">
  <ol class="">
    {
      experiences.map((experience) => {
        return <Experience {...experience} />;
      })
    }
  </ol>
</div>
