---

---

<a
  class={`
    flex justify-center items-center
  `}
  href="https://www.linkedin.com/in/javier-almarza/"
  target="_blank"
  rel="noopener"
>
  <p
    class={`
      me-2 px-2.5 py-0.5
      text-green-300 text-base lg:text-xs font-medium
      bg-green-900
      rounded
      hover:scale-110 hover:bg-green-600 hover:font-bold hover:cursor-pointer transition
    `}
  >
    #OPEN TO WORK
  </p>
</a>
