---
import { Image, getImage } from "astro:assets";
import { BaseLayout } from "@/layouts/";
import {
  SectionContainer,
  BadgeWork,
  BadgeSocial,
  TimeLine,
} from "@/components/";
import { LinkedInIcon, GitHubIcon, BriefcaseIcon } from "@/assets/";
import type { GetImageResult } from "astro";

const image: GetImageResult = await getImage({
  src: "https://avatars.githubusercontent.com/u/21326296?v=4",
  inferSize: true,
});
---

<BaseLayout title="Portafolio de Javier Almarza" description="">
  <main>
    <SectionContainer id="">
      <div class="flex flex-row gap-x-4 justify-center items-center">
        <div class="flex flex-col gap-y-2 justify-center items-center">
          <Image
            class="rounded-full size-44 bg-zinc-600 border-4 border-slate-300"
            src={image.src}
            {...image.attributes}
            alt=""
            inferSize={true}
          />

          <BadgeWork />
        </div>

        <div class="">
          <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
            Hola! soy Javier Almarza
          </h1>

          <h2 class="text-2xl flex flex-col">
            <span class="text-wrap">
              Desarrollador de software. Desde Santiago, Chile 🇨🇱.
            </span>
            <span class="opacity-80 text-wrap">
              Especializado en crear aplicaciones únicas
            </span>

            <span class="text-xl font-semibold text-yellow-300 text-wrap">
              +3 años de experiencia.
            </span>
          </h2>

          <nav class="flex gap-x-4 mt-8">
            <BadgeSocial url="https://www.linkedin.com/in/javier-almarza/">
              <LinkedInIcon class="size-6" />
              <p class="text-sm">LinkedIn</p>
            </BadgeSocial>

            <BadgeSocial url="https://github.com/JajoScript">
              <GitHubIcon class="size-6" />
              <p class="text-sm">GitHub</p>
            </BadgeSocial>
          </nav>
        </div>
      </div>
    </SectionContainer>

    <SectionContainer id="EXPERIENCIE">
      <div class="flex flex-row items-center gap-4 mb-6">
        <BriefcaseIcon class="size-8" />
        <h2 class="text-3xl font-semibold">Experiencia laboral</h2>
      </div>

      <TimeLine />
    </SectionContainer>
  </main>
</BaseLayout>
