---
import { HammerIcon } from "@/assets";
---

<section class="bg-blue-900/50 flex flex-row justify-center py-2 gap-x-2">
  <HammerIcon class="size-6 animate-hammer" />
  <p class="text-base text-white">Sitio en desarrollo</p>
</section>
