---

---

<a
  class="flex justify-center items-center"
  href="https://www.linkedin.com/in/javier-almarza/"
  target="_blank"
  rel="noopener"
>
  <p
    class="bg-blue-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
  >
    #OPEN TO WORK
  </p>
</a>
