---

---

<header class="w-full flex justify-center items-center py-4 px-8 mx-auto">
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Inicio</a>
    <a href="/about">Sobre mí</a>
    <a href="#EXPERIENCIE">Experiencia</a>
    <a href="#PROJECTS">Projectos</a>
    <a href="#CONTACT">Contacto</a>
  </nav>
</header>
