---
import { WorkBanner } from "@/components/Home/";
import { Header, Footer } from "@/components/";

import "@fontsource/poppins/200.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/800.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="h-screen bg-slate-900">
    {/* Background */}
    <div
      class={`
        h-full w-full
        absolute inset-0 -z-10
        bg-slate-900
        bg-[linear-gradient(to_right,#141e36_1px,transparent_1px),linear-gradient(to_bottom,#141e36_1px,transparent_1px)]
        bg-[size:2rem_4rem] lg:bg-[size:6rem_4rem]
      `}
    >
      <div
        class={`
          absolute bottom-0 left-0 right-0 top-0
          bg-[radial-gradient(circle_300px_at_25%_100px,#111f40,transparent)] md:bg-[radial-gradient(circle_500px_at_50%_200px,#111f40,transparent)]
        `}
      >
      </div>
    </div>

    {/* Banner */}
    <WorkBanner />

    {/* Content */}
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
    --color-point: #5175db;
    --color-border: #2b54c9;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(15 23 42 / var(--tw-bg-opacity)); /* #0f172a */
    }
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
