---

---

<header
  class={`
  w-full
  md:flex justify-center items-center
  py-4 px-8 mx-auto
  hidden
  `}
>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Inicio</a>
    <a href="/about">Sobre mí</a>
    <a href="#EXPERIENCE">Experiencia</a>
    <a href="#PROJECTS">Proyectos</a>
    <a href="#CONTACT">Contacto</a>
  </nav>
</header>
